body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    color: #1c4444;
}

#welcome-message {
    color: #333;
    font-style: oblique;
}

h1 {
    color: #5ba660;
    font-size: 300%;
}

.welcome {
    /* border: 5px solid #034e00; */
    /* background-color: #1c4444; */
    text-align: center;
    padding: 3em;
}

.mrdino {
    width: 50%;
    float: left;
}

#dinopic {
    display: block;
    padding: 3em;
    width: 80%;
}


.review-section {
    box-sizing: border-box;
    /* background-color: #a9f1d0; */
    /* float: left;
    width: 50%; */
    padding: 3em;
}

.dino-bio {
    padding: 3em;
}

.dino {
    box-sizing: border-box;
    /* float: right; */
    width: 50%;
    background-color: #dbffef;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HELP PAGE */

.help-body {
    text-align: center;
}

.help-body img {
    width: 50%;
}





/* Flexbox Practice */






/* .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    justify-content: center;
}

.bluebox {
    display: block;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    margin: 1em;
    background: #1c4444;
}


.dino-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    justify-content: center;
}

.dino-box img {
    display: block;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    margin: 1em;
    background: #1c4444;
} */





.pic-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.pic-frame {
    margin: 1em;
    background: #1c4444;
    border: 1px solid white;
}

.pic-frame img {
    height: 200px;
    width: 200px;
    margin: 3em 3em 0 3em;
}

.pic-frame p {
    text-align: center;
    font-size: 200%;
    color: white;
    margin: 1em 0;
}




/* Dino's Portfolio Website */

.navigation {
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid grey; */
    margin: 0;
    height: auto;
    padding: 0;
    background:#034e00;
}

.navigation li {
    /* border: 1px solid grey; */
    flex-direction: row;
    /* text-decoration: none; */
    font-size: 18px;
    padding: 1em;
    list-style: none;
    color: #FFFFFF;
}

/* ABOUT PAGE */

.about-body {
    text-align: center;
}

.about-body p {
    width: 50vw;
    margin: auto;
}

.nocompdino {
    height: 50vh;
    margin-top: 3em;
}