body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategray;
}

#welcome-message {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #5ba660;
    font-size: 300%;
}

.important {
    font-style: italic;
    color: darkgreen;
}



.welcome {
    border: 5px solid green;
    text-align: center;
}

.mrdino {
    width: 50%;
    float: left;
}

#dinopic {
    display: block;
    padding: 3em;
    width: 80%;
}


.review-section {
    box-sizing: border-box;
    background-color: white;
    float: left;
    width: 50%;
    padding: 3em;
}

.dino-bio {
    padding: 3em;
}

.dino {
    box-sizing: border-box;
    float: right;
    width: 50%;
    background-color: lightgreen;
}
